*,
*::after,
*::before {
  box-sizing: border-box;
}

.container1 {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  background-color: gray;
  transition: 200ms ease-in-out;
  border: 2px solid black;
  z-index: 10;
  width: 500px;
  max-width: 80%;
  border-radius: 4% 4%;
}
.header1 {
  padding: 1px 17px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.input1 #username1,
#password1 {
  border: 1px solid white;
  margin-bottom: 9px;
  margin-left: 10%;
  width: 80%;
  height: 3em;
  border-radius: 0.4em;
}
#signin11 {
  margin-left: 10%;
  align-content: center;
  padding: 0.8em 9.5em;
  width: 80%;
  text-decoration: none;
  display: inline-block;
  background-color: rgb(2, 0, 143);
  border-radius: 0.4em;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(175, 177, 179);
}
a#signin1:hover {
  background-color: rgba(165, 167, 161, 0.658);
}
hr {
  width: 80%;
  background-color: aqua;
}
.text1 {
  margin-left: 1.3em;
}
.container1.active {
  transform: translate(-50%, -50%) scale(1);
}
.container1 .close1 {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-weight: bold;
  font-size: 1em;
}
#overlay1 {
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 200ms ease-in-out;
  background-color: rgba(0, 0, 0, 0.3);
  pointer-events: none;
}
#overlay1.active1 {
  opacity: 1;
  pointer-events: all;
}
