@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

:root{
    --green:#27ae60;
    --black:#192a56;
    --light-color:#666;
 
}

*{
    font-family: 'Nunito', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none; border:none;
    text-transform: capitalize;
    transition: all .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 5.5rem;
    scroll-behavior: smooth;
}
.sub-heading{
    text-align: center;
    color:var(--green);
    font-size: 2rem;
    padding-top: 1rem;
}

.heading{
    text-align: center;
    color:var(--black);
    font-size: 3rem;
    padding-bottom: 2rem;
    text-transform: uppercase;
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    font-size: 1.7rem;
    color:#fff;
    background: var(--black);
    border-radius: .5rem;
    cursor: pointer;
    padding:.8rem 3rem;
}

.btn:hover{
    background: var(--green);
    letter-spacing: .1rem;
}

header{
    position: fixed;
    top:0; left: 0; right:0;
    background: #fd936a;
    padding:1rem 7%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: var(--box-shadow);
}

header .logo{
    color:var(--black);
    font-size: 2.5rem;
    font-weight: bolder;
}

header .logo i{
    color:var(--green);
}

header .navbar a{
    font-size: 1.7rem;
    border-radius: .5rem;
    padding:.5rem 1.5rem;
    color:var(--light-color);
}

header .navbar a.active,
header .navbar a:hover{
    color:#fff;
    background: var(--green);
}

header .icons i,
header .icons a{
    cursor: pointer;
    margin-left: .5rem;
    height:4.5rem;
    line-height: 4.5rem;
    width:4.5rem;
    text-align: center;
    font-size: 1.7rem;
    color:var(--black);
    border-radius: 50%;
    background: #eee;
}

header .icons i:hover,
header .icons a:hover{
    color:#fff;
    background: var(--green);
    transform: rotate(360deg);
}

header .icons #menu-bars{
    display: none;
}
.vids{
    margin-top: -1.04%;
}
section{
    background-color:rgba(245, 193, 23, 0.329);
}
.box-container{
    display: flex;
}
#vid{
    width: 100%;
    z-index: -1000;
}
#glow {
    color: rgb(150, 97, 18);
    text-align: center;
    animation: glow 1s ease-in-out infinite alternate;
  }
  
  @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #f5e615, 0 0 40px #faeb1b, 0 0 50px #ddeb19, 0 0 60px #1be600, 0 0 70px #49e600;
    }
    
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #61dd0ee7, 0 0 40px #26cf0f, 0 0 50px #279107, 0 0 60px #029126, 0 0 70px #0ea808, 0 0 80px #2d7703;
    }
  }
#about{
  background-color: rgba(17, 85, 17, 0.459);
}
#search-form{
    position: fixed;
    top:-110%; left:0; 
    height:100%; width:100%;
    z-index: 1004;
    background:rgba(0,0,0,.8);
    display: flex;
    align-items: center;
    justify-content: center;
    padding:0 1rem;
}

#search-form.active{
    top:0;
}

#search-form #search-box{
    width:50rem;
    border-bottom: .1rem solid #fff;
    padding:1rem 0;
    color:#fff;
    font-size: 3rem;
    text-transform: none;
    background:none;
}

#search-form #search-box::placeholder{
    color:#eee;
}

#search-form #search-box::-webkit-search-cancel-button{
    -webkit-appearance: none;
}

#search-form label{
    color:#fff;
    cursor:pointer;
    font-size: 3rem;
}

#search-form label:hover{
    color:var(--green);
}

#search-form #close{
    position: absolute;
    color:#fff;
    cursor: pointer;
    top: 2rem; right:3rem;
    font-size: 5rem;
}
.swiper-pagination-bullet-active{
    background:var(--green);
}
.vids #vid{
   margin-top: 5%;
   width: 100%;
}

.dishes .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
    gap:1.5rem;
}

.dishes .box-container .box{
    padding:2.5rem;
    background:#fff;
    border-radius: .5rem;
    border:.1rem solid rgba(0,0,0,.2);
    box-shadow: var(--box-shadow);
    position: relative;
    overflow: hidden;
    text-align: center;
}

.dishes .box-container .box .fa-heart,
.dishes .box-container .box .fa-eye{
    position: absolute;
    top:1.5rem;
    background:#eee;
    border-radius: 50%;
    height: 5rem;
    width:5rem;
    line-height: 5rem;
    font-size: 2rem;
    color:var(--black);
}

.dishes .box-container .box .fa-heart:hover,
.dishes .box-container .box .fa-eye:hover{
    background: var(--green);
    color:#fff;
}

.dishes .box-container .box .fa-heart{
    right:-15rem;
}

.dishes .box-container .box .fa-eye{
    left:-15rem;
}

.dishes .box-container .box:hover .fa-heart{
    right:1.5rem;
}

.dishes .box-container .box:hover .fa-eye{
    left:1.5rem;
}

.dishes .box-container .box img{
    height:17rem;
    margin:1rem 0;
}

.dishes .box-container .box h3{
    color:var(--black);
    font-size: 2.5rem;
}

.dishes .box-container .box .stars{
    padding:1rem 0;
}

.dishes .box-container .box .stars i{
    font-size: 1.7rem;
    color:var(--green);
}

.dishes .box-container .box span{
    color:var(--green);
    font-weight: bolder;
    margin-right: 1rem;
    font-size: 2.5rem;
}

.about .row{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
    align-items: center;
}

.about .row .image{
    flex:1 1 45rem;
}

.about .row .image img{ 
    width: 100%;
}

.about .row .content{
    flex:1 1 45rem;
}

.about .row .content h3{
    color:var(--black);
    font-size: 4rem;
    padding:.5rem 0;
}

.about .row .content p{
    color:var(--light-color);
    font-size: 1.5rem;
    padding:.5rem 0;
    line-height: 2;
}

.about .row .content .icons-container{
    display: flex;
    gap:1rem;
    flex-wrap: wrap;
    padding:1rem 0;
    margin-top: .5rem;
}

.about .row .content .icons-container .icons{
    background:#eee;
    border-radius: .5rem;
    border:.1rem solid rgba(0,0,0,.2);
    display: flex;
    align-items: center;
    justify-content: center;
    gap:1rem;
    flex:1 1 17rem;
    padding:1.5rem 1rem;
}

.about .row .content .icons-container .icons i{
    font-size: 2.5rem;
    color:var(--green);
}

.about .row .content .icons-container .icons span{
    font-size: 1.5rem;
    color:var(--black);
}

.menu .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:1.5rem;
}

.menu .box-container .box{
    background: #fff;
    border:.1rem solid rgba(0,0,0,.2);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);    
}

.menu .box-container .box .image{
    height: 25rem;
    width: 100%;
    padding:1.5rem;
    overflow: hidden;
    position: relative;
}

.menu .box-container .box .image img{
    height: 100%;
    width: 100%;
    border-radius: .5rem;
    object-fit: cover;
}

.menu .box-container .box .image .fa-heart{
    position: absolute;
    top:2.5rem; right: 2.5rem;
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    text-align: center;
    font-size: 2rem;
    background: #fff;
    border-radius: 50%;
    color:var(--black);
}

.menu .box-container .box .image .fa-heart:hover{
    background-color: var(--green);
    color:#fff;
}

.menu .box-container .box .content{
    padding:2rem;
    padding-top: 0;
}

.menu .box-container .box .content .stars{
    padding-bottom: 1rem;
}

.menu .box-container .box .content .stars i{
   font-size: 1.7rem;
   color:var(--green);
}

.menu .box-container .box .content h3{
    color:var(--black);
    font-size: 2.5rem;
}

.menu .box-container .box .content p{
    color:var(--light-color);
    font-size: 1.6rem;
    padding:.5rem 0;
    line-height: 1.5;
}

.menu .box-container .box .content .price{
    color:var(--green);
    margin-left: 1rem;
    font-size: 2.5rem;
}

.review .slide{
    padding:2rem;
    box-shadow:var(--box-shadow);
    border:.1rem solid rgba(0,0,0,.2);
    border-radius: .5rem;
    position: relative;    
}

.review .slide .fa-quote-right{
    position: absolute;
    top:2rem; right:2rem;
    font-size: 6rem;
    color:#ccc;
}

.review .slide .user{
    display: flex;
    gap:1.5rem;
    align-items: center;
    padding-bottom: 1.5rem;
}

.review .slide .user img{
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    object-fit: cover;
}

.review .slide .user h3{
    color:var(--black);
    font-size: 2rem;
    padding-bottom: .5rem;
}

.review .slide .user i{
    font-size: 1.3rem;
    color:var(--green);
}

.review .slide p{
    font-size: 1.5rem;
    line-height: 1.8;
    color:var(--light-color);
}

.order form{
    max-width:90rem;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    border:.1rem solid rgba(0,0,0,.2);
    background:#fff;
    padding:1.5rem;
    margin:0 auto;
}

.order form .inputBox{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.order form .inputBox .input{
    width:49%;
}

.order form .inputBox .input span{
    display:block;
    padding:.5rem 0;
    font-size: 1.5rem;
    color:var(--light-color);
}

.order form .inputBox .input input,
.order form .inputBox .input textarea{
    background:#eee;
    border-radius: .5rem;
    padding:1rem;
    font-size: 1.6rem;
    color:var(--black);
    text-transform: none;
    margin-bottom: 1rem;
    width:100%;
}

.order form .inputBox .input input:focus,
.order form .inputBox .input textarea:focus{
    border:.1rem solid var(--green);
}

.order form .inputBox .input textarea{
    height:20rem;
    resize: none;
}

.order form .btn{
    margin-top: 0;
}

.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap:1.5rem;
}

.footer .box-container .box h3{
    padding:.5rem 0;
    font-size: 2.5rem;
    color:var(--black);
}

.footer .box-container .box a{
    display: block;
    padding:.5rem 0;
    font-size: 1.5rem;
    color:var(--light-color);
}

.footer .box-container .box a:hover{
    color:var(--green);
    text-decoration: underline;
}

.footer .credit{
    text-align: center;
    border-top: .1rem solid rgba(0,0,0,.1);
    font-size: 2rem;
    color:var(--black);
    padding:.5rem;
    padding-top: 1.5rem;
    margin-top: 1.5rem;
}

.footer .credit span{
    color:var(--green);
}

.loader-container{
    position: fixed;
    top:0; left:0;
    height:100%; 
    width:100%;
    z-index: 10000;
    background:#FFA07A;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.loader-container img{
    width:35rem;
}

.loader-container.fade-out{
    top:-110%;
    opacity:0;
}*/


































 

@media (max-width:991px){

    html{
        font-size: 55%;
    }
    
    header{
        padding:1rem 2rem;
    }
}

@media (max-width:768px){

    header .icons #menu-bars{
        display: inline-block;
    }

    header .navbar{
        position: absolute;
        top:100%; left:0; right:0;
        background:#fff;
        border-top: .1rem solid rgba(0,0,0,.2);
        border-bottom: .1rem solid rgba(0,0,0,.2);
        padding:1rem;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    header .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    header .navbar a{
        display: block;
        padding:1.5rem;
        margin:1rem;
        font-size: 2rem;
        background:#eee;
    }

    #search-form #search-box{
        width:90%;
        margin:0 1rem;
    }

    .home .home-slider .slide .content h3{
        font-size: 5rem;
    }
    
}

@media (max-width:450px){

    html{
        font-size: 50%;
    }

    .dishes .box-container .box img{
        height:auto;
        width: 100%;
    }

    .order form .inputBox .input{
        width:100%;
    }
  

}
.gotopbtn{
    position: fixed;
    width: 50px;
    height: 50px;
    background: #27ae60;
    bottom: 40px;
    right: 50px;
  
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    color: white;
    font-size: 22px;
  }
 
  
  #myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: plum;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
  }
  .sidebar{
    background-color: rgba(248, 187, 95, 0.4);
    margin-top: 5.3%;
    padding-top: 2em;
    position: fixed;
    width: 30%;
    height: 100%;
    transition:1.5s;
    transition-property:left;
    z-index: 10;
    left: -110%;
}
.sidebar .pro_pic{
    border-radius: 50%;
    width: 10em;
    height: 10em;
    margin-bottom: em;
    
}
.sidebar h4{
      font-size: 2em;
      text-transform: capitalize;
      margin-top:.4em ;
}
.sidebar div a{
    color:rebeccapurple;
    text-decoration: none;
    display: block;
    width: 100%;
    line-height: 2em; 
    padding-left: 2em;
    text-transform: capitalize;
    font-size: 300%;
    box-sizing: border-box;
}
.sidebar a:hover{
    color: brown;
    background-color: aqua;
    transition: 1s;
}
label #sidebar_btn{
    position: fixed;
    z-index: 1000;
    color: aqua; 
    margin-top: -1%;
    margin-left: .2%;
    font-size: 2.9em;
    cursor: pointer;
    left: 4px;
}
label #sidebar_btn:hover{
    color: red;
}
.sidebar.active{
    left: 0%;
}
 
#check{
    display:none;
}
  .right_area a {
    float: left;
    color: #f1be14;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

    margin-top: -0em;
  }
  
  .right_area a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .right_area a.active {
    background-color: #04AA6D;
    color: white;
  } 
.right_area{
    padding: .4em;
     
    text-decoration: none;
    position: fixed;
    float:right;
    height: 3em;
    margin-left: 72.5%;
    margin-top: -4.1em;
    border-radius: .1em;
    transition: 1s;
    transition-property:background-color;
   
}

.main-content input[type=text] {
    padding: 6px;
    margin-left:40%;
    margin-top: 6px;
    font-size: 18px;
    width: 30%;
    border: 2px;
    border: none;
  }
#sum{
    font-size: 1.5em;
}
#amount{
    color: #04AA6D;
}
.dark{
    display: flex;

}
#darkm{
    color:rebeccapurple;
    width: 100%;
    margin-top: 7%;
    padding-left: 23%;
    text-transform: capitalize;
    font-size: 300%;
    box-sizing: border-box;
}
input[type=checkbox]{
    position: relative;
    margin-left: 1.5em;
    width:80px;
    height: 40px;
    -webkit-appearance: none;
    background-color: gray;
    outline: none;
    border-radius: 20px;
    box-shadow: inset 0 0 5px;
    transition:.5s;

}
input:checked[type=checkbox]{ 
    background-color: rgb(43, 145, 241);
}
input[type=checkbox]:before{
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    top:0;
    left: 0;
    transform: scale(1.1);
    background:rgb(171, 192, 52);
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    transition: .5s;
} 
input:checked[type=checkbox]:before{
      left: 40px;}
#butn{
    margin-top: 7%;
    margin-left: -20%;
}
@media (max-width:880px){

    .sidebar{
        width: 0%;
    }
  }
@media (max-width:750px){

    .sidebar{
        width: 50%;
    }
  }
@media (max-width:450px){

  .sidebar{
      width: 50%;
  }
}
.details{
    width: 100%;
    height: 13em;
    font-size: 400%;
    background-color: beige;
    margin-top: 1.3em;
}
hr{
    background-color: gold;
}
#detailsimg{
    width: 8em;
    display: block;  
}
.bot{
    font-size: large;
    display: flex;
    justify-content: space-between;
}
#cr{
    font-weight: 600;
}

.settings{
    background-color: rgba(248, 187, 95, 0.4);
    margin-top: 5em;
    padding-top: 5em;
    position: fixed;
    width: 100%;
    height: 55%;
    transition:1.5s;
    transition-property:left;
    z-index: 10;
}
#cont{
    font-size: 40%;
}
#managecont{
    padding-top: 4%;
    font-size:x-large;
}
#inputemail{
    margin-left: .8em;
    width: 100%;
}
.inputcont{
    width: 20%;
    height: 2em;
    border-radius: 4%;
}
.select{
    height: 2em;
    border-radius: 4%;
}
#manage{
    font-size: xx-large;
    font-weight:800;
}
#passcont{
    display: flex;
    flex-direction:column ;
    width: 30%;
    justify-content: space-between;
}
.bots{
    
    position:fixed;
    bottom: 26%;
    font-size: large;
    display: flex;
    justify-content: space-between;
}
